@{
    ViewData["Title"] = "About";
}
<br/>
<p>
    Розничный интернет-магазин, который предлагает огромное множество интересных и полезных
    товаров для каждого, кто сюда заглянет. Купить одежду в интернет-магазине или же купить
    одежду в розницу – не важно, какую цель Вы ставите перед собой. Мы обязательно справимся
    с нею и найдем подходящий товар. А если его нет, то мы рады Вам сообщить о возможности оставлять
    свои предложения для улучшения работы сайта на специально отведенной странице.
</p>

<p>
    Цены радуют – выгодные покупки по самым выгодным ценам в Украине.
    Минимальной суммы покупки нет – мы ценим свободу выбора.
    Комиссии нет! – Оплачивая стоимость товара сайт берет комиссию на себя.
    Все товары в наличии или ожидаются в течении нескольких дней.
</p>
